/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/*colors*/
:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
  --color-bg: rgb(156, 156, 156);
  --color-rgb64: rgb(64, 64, 64);
  --color-lred: rgb(218, 88, 28);
  --color-lgreen: rgb(181, 238, 47);
  --color-rgb58: rgb(58, 58, 58);
  --color-rgb86: rgb(86, 86, 86);
  --color-lblue: rgb(33, 133, 255);
}
/*navbar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.logo {
  color: var(--color-white);
  font-size: 30px;
}
.logo span {
  color: var(--color-primary);
}
.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}
.menu-bar ul {
  list-style: none;
  display: flex;
}
.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}
.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: var(--color-primary);
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
/*Google maps*/
  div.map {
    margin-bottom: 10%;
    display: inline;
  }
  p.map {
    text-align: center;
  }
  iframe.map {
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    margin: 3%;
    text-align: center;
  }
/*photos*/
 .image-grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 1%;
    margin-bottom: 10%;
  }
 .image-grid1 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 1%;
  }
 .image-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1%;
 }

 .image-container {
  text-align: center;
  margin-bottom: 10px;
  }
  
  .image-container img {
  width: 70%;
  height: auto;
  margin: 10%;
  border-width: 1.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-rgb58);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.65s ease;
  }
  
  .image-container img:hover {
  transform: scale(1.2);
  }
  
  .image-container p {
  margin: 20% 0 0;
  font-size: 18px;
  color: #333;
  }
/*texts*/
  h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 35px;
    display: flex;
    margin: 50px;
  }
  h1.header{
    text-align: center;
    font-family: Poppins, monospace;
    animation: zoomInHeading 3s infinite;
    margin: 50px;
    text-shadow: 1px 1px 1px rgba(84, 84, 84, 0.85);
  }
  span.lred {
    color: var(--color-lred)
  }
  span.lgreen {
    color: var(--color-lgreen);
  }

 p.ár {
    font-family: Arvo;
    font-weight: bold;
    font-style: italic;
    color: var(--color-rgb86);
 }
 p.Leírás {
    font-family: Mukta;
    color: var(--color-rgb64);
 }
 p.Leírás1 {
  font-family: Mukta;
  color: var(--color-rgb64);
  font-size: 150%;
}

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    background-color: var(--color-bg);
  }
  ol {
    list-style: none; 
    font-size: 16px;
    padding: 0; 
  }
  ul {
    list-style: none; 
    font-size: 16px;
    padding: 0; 
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  li {
    list-style: none;
    margin-bottom: 5px;
  }
  li.language span{
    color:  var(--color-lblue);
  }

  ol.dokumentumok {
    background-color: #c8deef;
    margin-top: 26px;
    font-family: Sedan;
    font-size: 20px;
    width: 100%;
    height: 15%; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li.dokumentumok {
    font-size: 17px;
  }

  .container {    
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section.dokumentumok {
    margin: 40px;
  }

  a {
    transition: opacity 0.30s, text-shadow 0.40s;
    text-decoration: none; 
    color: inherit; 
    
  }
  a:hover {
    opacity: 0.6;
    text-shadow: 2px 3px 5px rgba(92, 92, 92, 0.85);
    text-decoration: none;
  }
/*@ things*/
  @keyframes zoomInHeading {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.08); /* Nagyobb zoom a címhez */
    }
    100% {
      transform: scale(1); /* Ugyanaz a zoom a címhez */
    }
  }
